// Fonts
@import url("/font/satoshi/Satoshi-Bold.otf");
@import url("/font/general-sans/GeneralSans-Medium.otf");
@import url("/font/general-sans/GeneralSans-Semibold.otf");
@import url("/font/faktum/Faktum-Bold.otf");
@import url("/font/faktum/Faktum-SemiBold.otf");
@import url("/font/faktum/Faktum-Medium.otf");

/* Variables CSS */
:root {

    /* Font & Typography */
        
    // Fonts Family
    --satoshi: "Satoshi", sans-serif;
    --general-sans: "General Sans", sans-serif;
    --faktum: "Faktum Test", sans-serif;

    /* Font Weight */
    --font-semibold: 600;
    --font-medium: 500;
}

// Typography - Body Text & Paragraph
.caption {
    font-size: 12px;
    line-height: 16px;
    font-family: var(--satoshi);
}

p.small {
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    font-family: var(--general-sans);
}

p.reguler {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.18px;
    font-family: var(--general-sans);
}

p.large {
    font-size: 20px;
    line-height: 28px;
    font-weight: var(--font-medium);
    letter-spacing: -0.18px;
    font-family: var(--general-sans);
}

h1 {
    font-size: 96px;
    font-family: var(--faktum);
    letter-spacing: -2px;
    line-height: 90px;
}

h2 {
    font-size: 48px;
    font-family: var(--faktum);
    letter-spacing: -2px;
    line-height: 65px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-family: var(--general-sans);
    font-size: 20px;
    font-weight: var(--font-medium);
}

// Text Colors
.text-primary {
    color: #293FFF !important;
}

.text-dark {
    color: #0E0B3D !important;
}

.text-metalic {
    color: #FFCB14 !important;
}

.text-bluebolt {
    color: #00B3FF !important;
}

.text-purple {
    color: #7127CF !important;
}

// Margin
.ms-5 {
    margin-left: 12rem !important;
}

.ms-4 {
    margin-left: 8rem !important;
}

// Button
.btn {
    cursor: pointer;
    font-family: var(--general-sans);
    font-weight: var(--font-medium);
}
  
/* Primary Button */
.btn-primary {
    transition: all 0.2s;
}
  
.btn-primary > svg {
    transition: transform 0.3s ease-in-out;
}
  
.btn-primary:hover svg {
    transform: translateX(5px);
}

/* Outline Primary Button */
.btn-outline-primary {
    border: 1.5px solid black !important;
    color: black !important;
}

.btn-outline-primary:hover {
    background-color: black;
    color: white !important;
}
  
.btn-outline-primary:focus {
    background-color: black;
}

// Navbar
.nav-link {
    margin-right: 30px;
    font-weight: var(--font-medium);
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--general-sans);
}

// Hero
section.hero {

    .hero-img img {
        border-radius: 36px;
    }
}

section.testimonials {
    padding-top: 110px;
}

section.services {
    padding-top: 110px;

    .card-services {
        padding: 30px;
        border-radius: 30px;

        h5 {
            font-family: var(--faktum);
            font-weight: var(--font-semibold);
            line-height: 32px;
        }

        p {
            margin-top: 115px;
            font-family: var(--general-sans);
        }
    }
}

section.solutions-collaborations {
    padding-top: 260px;

    .card-icon {
        width: 6rem;
        margin-top: -25rem;
        box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2);
    }

    .card-text {
        margin-top: -8rem;
        width: 15rem;
        padding: 32px 26px;
        border-radius: 30px;
        position: absolute;
        font-family: var(--satoshi);
        box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2);

        h2 {
            letter-spacing: -1.92px;
            line-height: 40px;
        }

        p {
            line-height: 20px;
        }
    }
}

section.solutions-bussiness {
    padding-top: 260px;

    .card-icon {
        width: 9rem;
        position: absolute;
        margin-top: -26rem;
        z-index: 1000;
        box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2);
    }
}

section.bussiness-strategies {
    padding-top: 260px;

    .card-icon {
        width: 10rem;
        position: absolute;
        margin-top: -9rem;
        z-index: 1000;
        box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.2);
    }
}

section.newslatter {
    padding-top: 260px;

    .form-control {
        font-family: var(--general-sans);
    }

    .form-check-label {
        font-family: var(--general-sans);
        font-size: 14px;
        line-height: 16px;
    }

    .cta-newslatter {
        display: flex;
    }
}

footer {
    span {
        font-size: 24px;
        font-family: var(--faktum);
    }

    p {
        color: #8687A0;
        font-family: var(--general-sans);
        font-size: 14px;
    }

    .footer-link {
        li {
            padding-bottom: 20px;

            a {
                color: #8687A0;
                text-decoration: none;
                font-family: var(--general-sans);
            }
        }
    }
}


/* Responsive */
@media (min-width: 1399.38px) {
    .container-fluid {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}
  
  @media (max-width: 1000px) {
    .container-fluid {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    section.services {
        .col-md-3 {
            width: 50% !important;
            display: flex;
            margin-bottom: 20px;
        }
    }

    section.solutions-collaborations  {
        .card-icon {
            margin-top: -13rem;
        }

        .card-text {
            margin-left: 4rem !important;
        }
    }

    section.bussiness-strategies {
        .card-icon {
            margin-left: 4rem !important;
        }
    }

    section.solutions-bussiness {
        .card-icon {
            margin-top: -15rem;
        }
    }

    section.newslatter {
        h1 {
            font-size: 50px !important;
            line-height: 58px;
        }

        .form-control {
            padding-top: 0.8rem !important;
            padding-bottom: 0.8rem !important;
            font-size: 1rem !important;
        }

        a.btn-primary {
            padding-top: 0.6rem !important;
            padding-bottom: 0.6rem !important;
            font-size: 1rem !important;
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }

        .cta-newslatter {
            display: block !important;
        }

    }
        
}

@media (max-width: 990px) {
    .navbar {
        padding: 12px 0;

        a.btn {
            margin-top: 10px;
        }
    }

    a.nav-link {
        padding: 0.8rem 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 12px 0;

        a.btn {
            margin-top: 10px;
        }
    }

    a.nav-link {
        padding: 0.8rem 0;
    }
    
    section.hero,
    section.services,
    section.solutions-collaborations,
    section.solutions-bussiness,
    section.bussiness-strategies {

        .col-md-8 {
            width: 80%;
        }

        h2 {
            font-size: 40px !important;
            line-height: 48px;
        }

    }

    section.services {
        padding-top: 35px;

        .card-services {
            p {
                margin-top: 50px;
            }
        }
    }

    section.solutions-collaborations {
        padding-top: 70px;

        .image {
            margin-bottom: 60px;
            text-align: center;
        }
        
        .card-icon {
            margin-left: 8rem !important;
        }
    }

    section.solutions-bussiness {
        padding-top: 70px;

        .image {
            text-align: center !important;
        }
    }

    section.bussiness-strategies {
        padding-top: 70px;

        .image {
            text-align: center !important;
            margin-bottom: 30px;
        }

        .card-icon {
            margin-left: 8rem !important;
        }
    }

    section.newslatter {
        padding-top: 70px;
    }

    .col-md-2 {
        width: 22%;
    }

    footer {

        .col-md-4 {
            margin-bottom: 30px;
        }

        .footer-link {
            li {
                padding-bottom: 0px !important;
            }
        }
    }

}

@media (max-width: 576px) {
    .navbar {
        padding: 12px 0;
    }

    section.testimonials {
        padding-top: 70px;
    }

    section.services {
        padding-top: 35px;
    }

    section.solutions-collaborations {
        padding-top: 70px;

        .image {
            margin-bottom: 60px;
            text-align: center;
        }
        
        .card-icon {
            margin-left: 5rem !important;
        }
    }

    section.solutions-bussiness {
        padding-top: 70px;

        .image {
            text-align: center !important;
        }
    }

    section.bussiness-strategies {
        padding-top: 70px;

        .image {
            text-align: center !important;
            margin-bottom: 30px;
        }
    }

    section.newslatter {
        padding-top: 70px;

        .col-md-4 {
            margin-top: 20px;
        }

        .cta-newslatter {
            display: block !important;
        }
    }

    footer {
        .row {
            display: block;

            .col-md-2 {
                width: 50% !important;
            }
        }
    }
}

@media (max-width: 550px) {
    section.services {
        .row:nth-child(2) {
            display: block;

            .col-md-3 {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 429px) {
    section.hero {
        .cta-hero {
            .btn-outline-primary {
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 399px) {
    section.testimonials {
        h5 {
            display: contents;
            font-size: 18px;
        }
    }

    section.hero,
    section.services,
    section.solutions-collaborations,
    section.solutions-bussiness,
    section.bussiness-strategies {

        .col-md-8 {
            width: 100%;
        }

        h2 {
            font-size: 32px !important;
            line-height: 48px;
        }

    }

    section.services {
        .col-md-3 {
            width: 100% !important;
        }
    }

    section.solutions-collaborations,
    section.bussiness-strategies {
        .image {
            margin-bottom: 4rem !important;
            text-align: center !important;
        }
    }

    section.solutions-bussiness {
        .image {
            text-align: center !important;
            margin-top: 2rem !important;
        }
    }

    section.newslatter {
        .col-md-4 {
            margin-top: 2rem;
        }
        a.btn-primary {
            margin-top: 0rem !important;
        }
    }

    footer {
        .col-md-4 {
            margin-bottom: 3rem;
        }
        .col-md-2 {
            width: 100% !important;
        }
    }
}
  